<nav class="bg-gray-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <h1 class="text-gray-600 uppercase tracking-tight font-bold">
            ecommerce
          </h1>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <%= navigation_link "Client View", clients_path %>
            <%= navigation_link "Products", client_products_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
