<div class="max-w-4xl mx-auto py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Pipelines</h1>
    <%= link_to "New Pipeline", new_pipeline_path, class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
  </div>

  <table class="w-full border-collapse">
    <thead>
      <tr class="border-b">
        <th class="text-left py-2">Name</th>
        <th class="text-left py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @pipelines.each do |pipeline| %>
        <tr class="border-b hover:bg-gray-50">
          <td class="py-2"><%= link_to pipeline.name, pipeline_path(pipeline.uid), class: "text-blue-600 hover:underline" %></td>
          <td class="py-2"><%= link_to "View Board", pipeline_path(pipeline.uid), class: "text-gray-600 hover:underline" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
