!/log/.keep
!/storage/.keep
!/tmp/.keep
.byebug_history
.yarn-integrity
/.bundle
/config/master.key
/db/*.sqlite3
/db/*.sqlite3-journal
/elm-stuff
/log/*
/node_modules
/public/assets
/public/packs
/public/packs-test
/storage/*
/tmp/*
/yarn-error.log
coverage
yarn-debug.log*

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.env*.local

.idea
.ruby-version
/app/assets/builds/*
!/app/assets/builds/.keep
