<h1>New Customer</h1>

<%= form_tag({controller: "customers", action: "create"}, method: "post") do %>
  <%= hidden_field_tag(:customer_id, @customer_id) %>

  <p>Name:
    <%= text_field_tag :name %>
  </p>

  <%= submit_tag("Create customer", class: "btn btn-primary") %>
<% end %>
