<% content_for(:header) do %>
  VAT Rates
<% end %>

<% content_for(:actions) do %>
  <%= primary_action_button do %>
    <%= link_to 'New VAT Rate', new_available_vat_rate_path %>
  <% end %>
<% end %>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left py-2">Code</th>
      <th class="text-right py-2">Rate</th>
    </tr>
  </thead>

  <tbody>
  <% @available_vat_rates.each do |available_vat_rate| %>
    <tr class="border-t">
      <td class="py-2"><%= available_vat_rate.code %></td>
      <td class="py-2 text-right"><%= available_vat_rate.rate %></td>
    </tr>
  <% end %>
  </tbody>
</table>
