<% content_for(:header) do %>
  Customers
<% end %>

<% content_for(:actions) do %>
  <%= primary_action_button do %>
    <%= link_to 'New Customer', new_customer_path %>
  <% end %>
<% end %>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left py-2">Name</th>
    </tr>
  </thead>

  <tbody>
  <% @customers.each do |order| %>
    <tr class="border-t">
      <td class="py-2"><%= order.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>