<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |order| %>
    <tr>
      <td><%= order.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path, class: "btn btn-primary" %>