<% if notice %>
  <p class="bg-green-200 rounded text-green-600 py-2 px-4 mb-8 font-medium text-md" id="notice">
    <%= notice %>
  </p>
<% end %>
<% if alert %>
  <p class="bg-red-200 rounded text-red-600 py-2 px-4 mb-8 font-medium text-md" id="alert">
    <%= alert %>
  </p>
<% end %>