/*
 * This is a manifest file that'll be compiled into application.css.
 */

/* Fix Rails form_with styling */
.new-todo {
  width: 100%;
  box-sizing: border-box;
}

.toggle-form {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
}

.toggle-form .toggle {
  width: 100%;
  height: 100%;
}

.toggle {
  cursor: pointer;
}

.destroy {
  background: none;
  border: none;
  cursor: pointer;
}

.clear-completed {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

form {
  display: inline;
  margin: 0;
  padding: 0;
}

.view {
  position: relative;
}

.view label {
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: #484848;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

.completed .view label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E');
}

.footer {
  height: auto !important;
  min-height: 50px;
  padding: 20px 15px !important;
}

.todoapp {
  margin-top: 180px !important;
  margin-bottom: 80px !important;
}

html, body {
  overflow: visible !important;
  min-height: 100vh;
}
