<div class="max-w-xl mx-auto py-8 px-4">
  <h1 class="text-2xl font-bold mb-6">Latest tweets</h1>

  <% if @tweets.empty? %>
    <p class="text-gray-500">No tweets yet.</p>
  <% else %>
    <ul class="divide-y divide-gray-200">
      <% @tweets.each do |tweet| %>
        <li class="py-4">
          <span class="font-semibold">@<span data-tweet-author><%= tweet.author %></span></span>
          <p data-tweet-body class="mt-1 text-gray-800"><%= tweet.body %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
