<% content_for(:header) do %>
  Discount
<% end %>

<% content_for(:actions) do %>
  <span class="sm:ml-3">
    <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
      <%= link_to 'Back', edit_order_path(@order_id) %>
    </button>
  </span>
  <span class="sm:ml-3">
    <button type="submit" form="form" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
      Set Discount
    </button>
  </span>
<% end %>

<%= form_tag({controller: "orders", action: "update_discount"}, method: "post", id: "form") do %>
  <%= hidden_field_tag(:order_id, @order_id) %>
  <label for="discount" class="block font-bold">
    Percentage
  </label>
  <%= number_field_tag :amount, 20, min: 10, max: 100, step: 10, id: "discount", class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
<% end %>