<div class="mt-2">
  <label for="start_time" class="block font-bold">
    Start time
    <%= datetime_field_tag :start_time, nil,
      id: "start_time",
      name: "product[future_prices][][start_time]",
      class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"
    %>
  </label>
  <div>
    <label for="price" class="block font-bold">
      Price
      <%= number_field_tag :price, nil,
        name: "product[future_prices][][price]",
        min: 0,
        step: 0.01,
        required: true,
        class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"
      %>
    </label>
  </div>
</div>
