name: pricing-coverage
on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - script
  push:
    branches:
      - master
    paths:
      - "domains/pricing/Gemfile.lock"
      - ".github/workflows/pricing-coverage.yml"
  pull_request:
    paths:
      - "domains/pricing/Gemfile.lock"
      - ".github/workflows/pricing-coverage.yml"
  schedule:
    - cron: '0 17 * * *'
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.4.6
          bundler-cache: true
          working-directory: domains/pricing
      - name: Run tests
        run: make -C domains/pricing test
  mutate:
    needs: test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.4.6
          bundler-cache: true
          working-directory: domains/pricing
      - name: Run full mutation testing
        run: make -C domains/pricing mutate
