name: rails_application
on:
  push:
  pull_request:
    types: [ opened, reopened ]
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
    env:
      WORKING_DIRECTORY: rails_application
      REDIS_URL: redis://localhost:6379/0
    services:
      postgres_11:
        image: postgres:11
        env:
          POSTGRES_DB: cqrs-es-sample-with-res_test
          POSTGRES_PASSWORD: secret
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        image: redis
        ports: [ "6379:6379" ]
        options: --entrypoint redis-server
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.1.3
          bundler-cache: true
          working-directory: ${{ env.WORKING_DIRECTORY }}
      - name: Assets Precompile
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: bundle exec rails tailwindcss:build
      - run: make test
        working-directory: ${{ env.WORKING_DIRECTORY }}
      - uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: workflow,job,commit,repo,ref,author,took
          custom_payload: |
            {
              attachments: [{
                color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
                text: `${process.env.AS_WORKFLOW}/${process.env.AS_JOB} ${{ job.status }} in ${process.env.AS_TOOK}\n${process.env.AS_COMMIT} in ${process.env.AS_REF}`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.CI_WEBHOOK }}
        if: always()
        continue-on-error: true

  mutate:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
    env:
      REDIS_URL: redis://localhost:6379/0
      WORKING_DIRECTORY: rails_application
    services:
      postgres_11:
        image: postgres:11
        env:
          POSTGRES_DB: cqrs-es-sample-with-res_test
          POSTGRES_PASSWORD: secret
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        image: redis
        ports: [ "6379:6379" ]
        options: --entrypoint redis-server
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.1.3
          bundler-cache: true
          working-directory: ${{ env.WORKING_DIRECTORY }}
      - name: Assets Precompile
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: bundle exec rails tailwindcss:build
      - run: make mutate
        working-directory: ${{ env.WORKING_DIRECTORY }}
      - uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: workflow,job,commit,repo,ref,author,took
          custom_payload: |
            {
              attachments: [{
                color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
                text: `${process.env.AS_WORKFLOW}/${process.env.AS_JOB} ${{ job.status }} in ${process.env.AS_TOOK}\n${process.env.AS_COMMIT} in ${process.env.AS_REF}`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.CI_WEBHOOK }}
        if: always()
        continue-on-error: true

  release:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
    env:
      WORKING_DIRECTORY: rails_application
    needs: [ test, mutate ]
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "res-ecommerce-rails"
          heroku_email: "dev@arkency.com"
      - uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: workflow,job,commit,repo,ref,author,took
          custom_payload: |
            {
              attachments: [{
                color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
                text: `${process.env.AS_WORKFLOW}/${process.env.AS_JOB} ${{ job.status }} in ${process.env.AS_TOOK}\n${process.env.AS_COMMIT} in ${process.env.AS_REF}`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.RELEASE_WEBHOOK }}
        if: always()
        continue-on-error: true
