name: rails_application-coverage
on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - script
  push:
    branches:
      - master
    paths:
      - "apps/rails_application/Gemfile.lock"
      - "apps/rails_application/.mutant.yml"
      - ".github/workflows/rails_application-coverage.yml"
  pull_request:
    paths:
      - "apps/rails_application/Gemfile.lock"
      - "apps/rails_application/.mutant.yml"
      - ".github/workflows/rails_application-coverage.yml"
  schedule:
    - cron: '0 17 * * *'
jobs:
  test:
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_DB: cqrs-es-sample-with-res_test
          POSTGRES_PASSWORD: secret
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.4.6
          bundler-cache: true
          working-directory: apps/rails_application
      - name: Run tests
        run: make -C apps/rails_application test
        env:
          DATABASE_URL: "postgres://postgres:secret@localhost:5432/cqrs-es-sample-with-res_test"
          RAILS_ENV: test
  mutate:
    needs: test
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_DB: cqrs-es-sample-with-res_test
          POSTGRES_PASSWORD: secret
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.4.6
          bundler-cache: true
          working-directory: apps/rails_application
      - name: Run full mutation testing
        run: make -C apps/rails_application mutate
        env:
          DATABASE_URL: "postgres://postgres:secret@localhost:5432/cqrs-es-sample-with-res_test"
          RAILS_ENV: test
          MUTANT_OPTS: --jobs 4
  notify:
    needs: [test, mutate]
    runs-on: ubuntu-24.04
    if: ${{ always() && github.event_name == 'schedule' }}
    steps:
      - uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: workflow,job,commit,repo,ref,author,took
          custom_payload: |
            {
              attachments: [{
                color: '${{ needs.mutate.result }}' === 'success' && '${{ needs.test.result }}' === 'success' ? 'good' : 'danger',
                text: `${process.env.AS_WORKFLOW} ${ '${{ needs.mutate.result }}' === 'success' && '${{ needs.test.result }}' === 'success' ? 'succeeded' : 'failed' }\ntest: ${{ needs.test.result }}, mutate: ${{ needs.mutate.result }}`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.COVERAGE_SLACK_WEBHOOK_URL }}
